@use "src/assets/variables.scss" as variables;

.ant-btn {
    background-color: rgb(96, 219, 13);
}
:host {
    font-family: 'Quantico-Regular',sans-serif;
    .header-main-title{
        color: varialbes.$app-orange;
    };
    .subtitle-container {
        display: flex;
        flex-direction: row;
    }
}

