.ant-btn {
    background-color: rgb(96, 219, 13);
}
:host{
    ::ng-deep{
        // nz-tabset{
        //     height: 100% !important;
        // }
        .subtitle-container {
            display: flex;
            flex-direction: row;
        }
    }
}
