$colors:(
    active-green: #65b55c,
    external-light-green: #3a5a10,
    header-text: #212120,
    header:  #d6d0cb,
    internal-brown: #544434,
    primary-2: #36baf7,
    primary: #096dd9,
    savvy-black: #000000,
    savvy-cream: #EDE7E3,
    savvy-dark-blue: #053262,
    savvy-green: #095228,
    savvy-grey: #808080,
    savvy-orange: #c98712,
    savvy-red: #e93636,
    savvy-white: #ffffff,
)