@import 'src/assets/variables.scss';

:host{
    ::ng-deep{
        // nz-tabset{
        //     height: 100% !important;
        // }
        .main-container{
            display: flex;
            flex-direction: row;
        }
        .ant-tabs-tab-active {
            > .ant-tabs-tab-btn{
                color: map-get($colors , app-orange ) !important;
            }
        }
        .ant-tabs-ink-bar {
            background: map-get($colors , app-orange ) !important;
        }
        .scrollbar{
            background-color: map-get($colors , app-orange ) !important;
        }
    }
}