@import 'src/assets/variables.scss';

:host{
    ::ng-deep{
        // nz-tabset{
        //     height: 100% !important;
        // }
        .main-container{
            display: flex;
            flex-direction: row;
        }
        .ant-tabs-tab-active > .ant-tabs-tab-btn{
            color: map-get($colors , app-orange ) !important;
        }
    }
}