$active-green: #65b55c;
$external-light-green: #3a5a10;
$header-text: #212120;
$header:  #d6d0cb;
$internal-brown: #544434;
$primary-2: #36baf7;
$primary: #096dd9;
$app-black: #000000;
$app-cream: #EDE7E3;
$app-dark-blue: #053262;
$app-green: #095228;
$app-grey: #808080;
$app-orange: #c98712;
$app-red: #e93636;
$app-white: #ffffff;
$main-card-grey:#1e1e1e