@use '/src/assets/variables.scss';

::ng-deep {
    .ant-card-head-title {
        font-weight: bold;
        color: variables.$app-orange;
    }
    .p-carousel-item-list {
        gap: 1em;
    }
}

:host {
    width: 100%;
    
}

.home-main-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.row-container {
    display: flex;
    align-items: start;
    justify-content: start;
    gap:1em;
    width: 100%;
}

.main-card {
    height: 28em;
}

.pale-card {
    background-color: variables.$main-card-grey;
}

.child-card {
    height: max-content;
}

