@import '/src/assets/variables.scss';

::ng-deep {
    .ant-card-head-title {
        font-weight: bold;
        color: map-get($colors, app-orange );
    }
}

:host {
    width: 100%;
}

.home-main-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}