<div class="home-main-container">
    <nz-card nzHoverable
        *ngIf="currentUser$ | async as user;"
        nzTitle={{userMainJob}}>
        <div nz-row>
            <p>
                {{user.description}}
            </p>
        </div>
    </nz-card>
    <div nz-row class="row-container" *ngIf="userProjects$ | async as projects">
        <nz-card
        class="main-card pale-card"
        nzHoverable nz-col
        [nzSpan]="11"
        nzTitle="Projects">
            <p-carousel class="row-container" [value]="projects.projects" [numVisible]="3" [numScroll]="2" [circular]="false" [showIndicators]="false">
                <ng-template let-project #item>
                    <nz-card
                        nzHoverable [nzCover]="coverTemplate">
                        <nz-card-meta
                            nzTitle="{{project.title}}"
                            nzDescription="This is the description">
                        </nz-card-meta>
                    </nz-card>
                </ng-template>
            </p-carousel>
        </nz-card>
        <nz-card class="main-card pale-card" nzHoverable nz-col nzSpan="11"
            nzTitle="Resume">
        </nz-card>
    </div>
    <div nz-row class="row-container">
        <nz-card class="main-card" nzHoverable nz-col nzSpan="8"
            nzTitle="Feedbacks">
        </nz-card>
        <nz-card class="main-card" nzHoverable nz-col nzSpan="6"
            nzTitle="Expertise">
        </nz-card>
    </div>
    <div nz-row class="row-container">
        <nz-card class="main-card" nzHoverable nz-col nzSpan="11"
            nzTitle="Calendar Preview">
        </nz-card>
        <nz-card class="main-card" nzHoverable nz-col nzSpan="11"
            nzTitle="Proposal Form">
        </nz-card>
    </div>
    <div nz-row class="row-container">
        <nz-card class="main-card" nzHoverable nz-col nzSpan="11"
            nzTitle="Calendar Preview">
        </nz-card>
        <nz-card class="main-card" nzHoverable nz-col nzSpan="11"
            nzTitle="Proposal Form">
        </nz-card>
    </div>
    <div nz-row class="row-container">
        <nz-card class="main-card" nzHoverable nz-col nzSpan="11"
            nzTitle="Calendar Preview">
        </nz-card>
        <nz-card class="main-card" nzHoverable nz-col nzSpan="11"
            nzTitle="Proposal Form">
        </nz-card>
    </div>
</div>
<ng-template #coverTemplate>
    <img alt="example" src="assets/techpanth.png" />
  </ng-template>
